name: "CI: Docs"

on:
  push:
    branches: [main]
    paths:
      - "packages/docs/**"
      - ".github/workflows/ci-docs.yml"
  pull_request:
    branches: [main]
    paths:
      - "packages/docs/**"
      - ".github/workflows/ci-docs.yml"

defaults:
  run:
    working-directory: packages/docs

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: .

      - name: Build
        run: pnpm run build
